<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/68bc1fc849.js" crossorigin="anonymous"></script>
        <link rel="stylesheet"  href="css/files_css_product.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- include('./partials/header.ejs') %> 
        <main class="main_container">
            <div class="main_izquierda"><!--red-->
                <h1 style="color: red;">Colonos de Catan</h1>
                <div class="product_picture"></div><!--Imagen Producto-->

            </div>
            <div class="main_derecha">
                <div class="main_derecha_a"><!--blue-->

                    
                    <div class="display_product"><!--white cyan-->
                        <div class="product_image"><!--green-->
                            

                        </div>
                        <div class="display_product_1"></div>
                        <div class="display_product_2"></div>
                        <div class="display_product_3"></div>
                        <div class="display_product_4"></div>
                    

                    </div>
                    <div class="detail_product">
                        <h2 style="font-size: 3vw;">Disponibles</h2>
                        <div class="boton_cantidad">
                        <button style="width: 2vw; height:3vw; justify-content: center; display: flex;align-items: center;"><i class="fa-solid fa-circle-plus" style="font-size: 2vw;"></i></button>
                        <div style="border: solid gray 2px; width: 10vw; height: 4vw; background-color: white;"></div>
                        <button style="width: 2vw; height:3vw; justify-content: center; display: flex;align-items: center;"><i class="fa-solid fa-circle-minus" style="font-size: 2vw;"></i></button>
                    </div>

                    <div class="boton_cart_money">
                        <div style="border: solid black 2px; width:5vw; height: 5vw; display: flex; justify-content: center; align-items: center;"><i class="fa-solid fa-cart-shopping"></i></div>
                        <div style="border: solid black 2px; width:13vw; height: 5vw; display: flex; justify-content: center; align-items: center;"><i class="fa-regular fa-dollar-sign"></i><p style="font-size: 2vw;">14.000</p></div>
                    
                    </div>

                    <div class="boton_star">
                        <button class="boton"><div class="bot"><i class="fa-regular fa-star" style="font-size: 2vw;"></i></div></button>
                        <button class="boton"><div class="bot"><i class="fa-regular fa-star" style="font-size: 2vw;"></i></div></button>
                        <button class="boton"><div class="bot"><i class="fa-regular fa-star" style="font-size: 2vw;"></i></div></button>
                        <button class="boton"><div class="bot"><i class="fa-regular fa-star" style="font-size: 2vw;"></i></div></button>
                        <button class="boton"><div class="bot"><i class="fa-regular fa-star" style="font-size: 2vw;"></i></div></button>

                    </div>
                    

                </div><!--detail product-->

            </div><!--blue-->
            <div class="main_derecha_b"><!--brown-->
                <p class="p_letra">Tus aventureros colonos buscan domar la remota pero rica isla de Catán. Comienza revelando los numerosos puertos y regiones de Catan: pastos, campos, montañas, colinas, bosques y desierto. La mezcla aleatoria crea un tablero diferente prácticamente en cada partida. ¡No hay dos partidas iguales! Embárcate en una aventura para colonizar la isla de Catán. Guía a tus colonos hacia la victoria mediante un comercio inteligente y un desarrollo astuto. Utiliza combinaciones de recursos (grano, lana, mineral, ladrillo y madera) para comprar útiles cartas de desarrollo y construir carreteras, asentamientos y ciudades. Adquiere tus recursos mediante intercambios, cartas o dados de la suerte (incluso fuera de tu turno). Pero ten cuidado: alguien puede cortar tu camino o comprar un monopolio. Y nunca se sabe cuándo el astuto ladrón puede robarte algunas de tus preciadas ganancias</p>

            </div>

            </div><!--main derecha-->
            

        </main>
        <%- include('./partials/footer.ejs') %> 
        
    </body>
 
</html>