@font-face {
   
    font-family: second_font;
    src: url(../../public/fonts/DynaPuff-Bold.ttf);
    
}

@font-face {
    font-family: myFirstFont;
    src: url(../../public/fonts/Silkscreen-Bold.ttf);
    
}

button{
    font-family: second_font;
    
}

.div0{
    flex-direction: row;
    display: flex;
    
}

.div1{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/Screenshot_1.jpg);
    background-size: cover;
    border: solid black 2px;
    width: 400px;
    height: 600px;
}

.div2{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 600px;
}

.div3{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/Screenshot_5.jpg);
    background-size: cover;
    width: 400px;
    height: 600px;
}