<div class="main_1_3">
    <div class="main_1_3_1">
        <div class="boton_container">
            <button id="button_minus"><i class="fa-solid fa-minus"></i></button>
            <input id="display_box" type="number" min="0" value="0">
            <button id="button_plus"><i class="fa-solid fa-plus"></i></button>
        </div>
    </div>
    <!--d
    <div class="main_1_3_1">
        <button><i class="fa-regular fa-heart"></i></button>
        <div class="main_1_3_1_price_display"></div>
    </div>
    -->
    
</div>
