<p>add-product works!</p>

<form id="addproduct" [formGroup]="formulario" (ngSubmit)="onsubmit()">
    <fieldset form="addproduct">
        <label for="nombre">Nombre</label><br>
        <input type="text" id="nombre" formControlName="nombre"><br>

        <label for="descripcion">Descripcion</label><br>
        <textarea type="text" id="descripcion" rows="10" cols="30" formControlName="descripcion"></textarea><br>

        <label for="precio">Precio</label><br>
        <input type="number" id="precio" formControlName="precio"><br>

        <label for="imagen1">Imagen producto</label><br>
        <input type="file" accept="image/*" id="imagen1" formControlName="imagen1"><br>
        <!-- <img class="display_image" src="{{this.formulario.value.imagen1}}"> -->

    </fieldset><br>
    <button type="submit">Agregar producto</button>
</form>
