
<div class="div0">
<div class="div1">

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="font-family: myFirstFont;color: red;">{{this.crud.one_product.nombre}}</mat-card-title>
          <mat-card-subtitle style="font-family: second_font;">Precio: {{this.crud.one_product.precio}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{this.crud.one_product.url1}}" alt="Photo of product">
        <!-- <img nat-card-image src="{{`../../assets/product_images/${this.crud.one_product.url}`}}" alt="Photo of product"> -->
        <!-- <img mat-card-image src="{{this.crud.one_product.url1}}" alt="Photo of product"> -->
        <!-- src={{`../.../assets/product_images/mansiones_de_la_locura/$[this.one_product.url1}`}} -->
        <!-- ../../../assets/product_images/mansiones_de_la_locura/imagen1.png -->
        <!-- <img nat-card-image src="{{`../../assets/product_images/${this.crud.one_product.url}`}}" alt="Photo of product"> -->
        <mat-card-content>
          <p>
            {{this.crud.one_product.descripcion}}
          </p>
        </mat-card-content>
        
    </mat-card>

</div>
<div class="div3">
  <img mat-card-lg-image src="{{this.crud.one_product.url2}}" alt="Photo of product" class="extra_display">
  <img mat-card-lg-image src="{{this.crud.one_product.url3}}" alt="Photo of product" class="extra_display">

</div>
<div class="div2">
  <div class="div2_0">
  <button (click)="delete_onclick()" mat-raised-button color="warn">Borrar Producto</button>
  </div>
  <div class="div2_1">
    <button mat-raised-button color="accent" (click)="this.crud.go_to_productlist()"><fa-icon [icon]="faarrow" size="1x"></fa-icon> Lista de productos</button>
  <h2 style="font-family: myFirstFont; color: red;">Editar producto</h2>
  
  <form method="post" [formGroup]="formulario" (ngSubmit)="edit_onclick()">

    <mat-form-field appearance="fill">
    <mat-label for="parameters">Elige un campo para editar</mat-label><br>
    
    <mat-select id="parameters" name="parameters" formControlName="field">
      <mat-option value="nombre">Nombre</mat-option>
      <mat-option value="descripcion">Descripcion</mat-option>
      <mat-option value="precio">Precio</mat-option>
      <mat-option value="url1">URL 1</mat-option>
      <mat-option value="url2">URL 2</mat-option>
      <mat-option value="url3">URL 3</mat-option>

    </mat-select>
    </mat-form-field><br>
    <mat-form-field appearance="fill" color="warn">
    <input matInput type="text" placeholder="Ingresar valor" formControlName="new_field_input" ><br>
    
    </mat-form-field><br>
    <button mat-raised-button color="accent" type="submit">Editar</button>
  </form>
  
  </div>
</div>

</div>