


<!-- <div class="form-group">
  <mat-form-field appearance="fill" style="position: relative; right: 150px;">
  <label for="search-text"></label><br>
  <input matInput type="text" class="form-control" id="search-text" aria-describedby="search-text" 
    [(ngModel)]="searchText" placeholder="Buscar por Nombre" 
    autofocus (keydown)="this.crud.filter_products(searchText)">
  </mat-form-field>
  
</div> -->
<button mat-raised-button color="accent" style="font-family: second_font; width: 200px;" (click)="this.crud.go_to_manager_desktop()">Ir al Escritorio</button>

<table mat-table [dataSource]="this.crud.products_all" >
  
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id }} </td>
    
  </ng-container>

  <ng-container matColumnDef="accion">
    <th mat-header-cell *matHeaderCellDef> Accion</th>
    <td mat-cell *matCellDef="let element" style="height: 20vw;" ><div class="button_link"><button  routerLink="{{ '/productdetail/' + element.id}}" mat-raised-button color="primary">Editar</button ></div></td>
    
    
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element" >{{element.nombre }} </td>
    
  </ng-container>

  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
    <td mat-cell *matCellDef="let element" style="width: 300px; font-size: 2vh;"> {{element.descripcion }} </td>

  </ng-container>

  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef> Precio</th>
    <td mat-cell *matCellDef="let element"> {{element.precio  }} </td>

  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> Fecha de creacion</th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>

  </ng-container>
  


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  
</table>

<mat-paginator [length]="10"
              [pageSize]="2"
              [pageSizeOptions]="[2, 4]"
              aria-label="Select page">
</mat-paginator>



  